// $primary-color: #3758F9;
// $primary-color-light: #eceffd;
// $primary-color-dark: #1B44C8;
$primary-color: #ee206f;
$primary-color-light: #eceffd;
$primary-color-dark: #ee206faf;
$secondary-grey-color: #f5f5f5;

$background-component: #f6f6f6;
$widget-margin: 2rem 0rem;

//  Border Color
$dark-border-color: #434242;
$border-color: #dfe4ea;
// Background Color
$background-color: #f6f6f6;
$background-color-white: white;
$background-color-dark: #1c1c1e;
$background-color-dark-light: #323232;
//  Icon Color
$icon-color: #646363;
$dark-icon-color: #a7a5a5;

// Hover Color
$dark-hover: #2b2b2b;
